<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testngexample.Sample3"/>
      <class name="com.testngexample.Sample2"/>
      <class name="com.testngexample.Sample5"/>
      <class name="com.testngexample.Sample4"/>
      <class name="com.testngexample.Sample7"/>
      <class name="com.testngexample.Sample6"/>
      <class name="com.testngexample.Sample8"/>
      <class name="com.testngexample.s4"/>
      <class name="com.testngexample.Sample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
